# Virtual environment
venv/

# Data files (ignore large files but allow metadata JSON)
data_optical_flow/*.csv
data_optical_flow/frames/
data_optical_flow/*.mp4
data_optical_flow/*.avi

# Video files
*.mp4
*.avi

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/
